body{
    margin: 0;
}

#container{
    width: 100vw;
    background-color: lightblue;
    height: 400px;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    /* flex-direction: column; to get items in column manner */
    align-items: stretch; /*other valeus are "flex-start" "flex-end" "centre"*/ 
}

.item{
    background-color: lightcoral;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}